
.DS_Store
.idea/*
*.bkp
~$*.xlsx
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
app/target/
app/pom.xml.tag
app/pom.xml.releaseBackup
app/pom.xml.versionsBackup
app/pom.xml.next
app/pom.xml.bak
app/release.properties
app/dependency-reduced-pom.xml
app/buildNumber.properties
app/.mvn/timing.properties
app/.mvn/wrapper/maven-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws